@model ConfirmEmailViewModel
@{
    ViewData["Title"] = "Confirm Email Address";
    Layout = "_LayoutHomeModal";
}
<div class="row justify-content-center mb-2">
    <div class="col text-center">
        <a tabindex="-1" href="/">
            <img src="~/img/btcpay-logo.svg" alt="BTCPay Server" class="mb-4" height="70" />
        </a>
        <h1 class="h2 mb-3">@ViewData["Title"]</h1>
    </div>
</div>
<div class="account-form">
    @if (Model.EmailConfirmed)
    {
        <p class="text-center mt-2 mb-0">
            Your email <b>@Model.Email</b> has been verified!<br />
            <a class="btn btn-primary mt-4" asp-action="Login">Continue to Login</a>
        </p>
    }
    else
    {
        <p class="text-center mt-2 mb-0">
            We couldn't verify your email with the parameters provided.<br />
            Please double-check the URL and try copying-pasting from email.<br />
            If issues persist, consider resending the verification email.
        </p>
    }
</div>
