@model PluginBuilder.ViewModels.CreatePluginViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Create a new plugin";
}

@section HeaderScripts {
    <style>
        #drop-area {
            transition: background-color 0.3s ease;
            position: relative;
        }

        #fileInput {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        .file-preview {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #dee2e6;
            padding: 0.75rem;
            border-radius: 0.25rem;
        }

            .file-preview .file-name {
                flex: 1;
            }

            .file-preview .delete-icon {
                cursor: pointer;
                color: red;
                margin-left: 1rem;
            }
    </style>
    
    <script src="~/scripts/imageupload-utils.js" asp-append-version="true"></script>
} 

<h2 class="mt-1 mb-4">@ViewData["Title"]</h2>
<div class="row">
    <div class="col-xl-8 col-xxl-constrain">
        <form asp-action="CreatePlugin" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PluginSlug" class="form-label" data-required></label>
                <input asp-for="PluginSlug" class="form-control" placeholder="my-awesome-plugin" required />
                <span asp-validation-for="PluginSlug" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" placeholder="my-awesome-plugin" />
                <div class="form-text">Recommended length: between 50 and 150 characters</div>
            </div>

            <div class="form-group">
                <label asp-for="Logo" class="form-label"></label>
                <div id="drop-area" class="form-control rounded p-4 text-center">
                    <p class="mb-0">Drag and drop file or <span class="text-primary">browse file</span></p>
                    <input asp-for="Logo" type="file" class="custom-file-input" id="fileInput" name="Logo" accept="image/*">
                    <span asp-validation-for="PluginSlug" class="text-danger"></span>
                    <div class="form-text">If empty a placeholder would be used in the plugin marketplace.</div>
                </div>
                <div id="preview" class="mt-4"></div>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Create" class="btn btn-primary" id="Create" />
            </div>
        </form>
    </div>
</div>
