@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_LayoutHomeModal";
}

<div class="row justify-content-center mb-2">
    <div class="col text-center">
        <a tabindex="-1" href="/">
            <img src="~/img/btcpay-logo.svg" alt="BTCPay Server" class="mb-4" height="70" />
        </a>
        <h1 class="h2 mb-3">@ViewData["Title"]</h1>
    </div>
</div>
<div class="account-form">
    @if (Model?.FormSubmitted != true)
    {
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>Enter your email address and we'll send you a link to reset your password.</p>
            <div class="form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" required autofocus />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary w-100" id="ResetPassword">Reset Password</button>
            </div>
        </form>
    }
    else
    {
        <p class="text-center mt-2 mb-0">
        <p>
            If an account exists for the email address you entered, we have sent instructions to reset your password to that email address.
        </p>
        <p>
            Please check your inbox (and spam folder) and follow the link provided.
        </p>
        <p>
            If you are having unresolvable issues with the password reset, please join us on
            <a href="https://chat.btcpayserver.org" target="_blank">BTCPay Server Mattermost</a> for assistance.
        </p>
        <div class="mt-4 text-center">
            <a asp-action="Login" asp-controller="Home" class="btn btn-secondary">Return to Sign In</a>
        </div>
        </p>
    }
</div>
