{
  "openapi": "3.0.3",
  "info": {
    "title": "BTCPay Server Plugin Builder API",
    "description": "REST API for the BTCPay Server Plugin Builder. Provides endpoints for querying published plugin versions, downloading plugin binaries, checking for updates, and triggering new plugin builds.\n\nThe live server is available at [plugin-builder.btcpayserver.org](https://plugin-builder.btcpayserver.org/).",
    "version": "1.0.0",
    "contact": {
      "name": "BTCPay Server",
      "url": "https://github.com/btcpayserver/btcpayserver-plugin-builder"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://plugin-builder.btcpayserver.org/api/v1",
      "description": "Production"
    },
    {
      "url": "/api/v1",
      "description": "Current instance"
    }
  ],
  "tags": [
    {
      "name": "Admin Events",
      "description": "Durable event polling and email/webhook subscriptions (ServerAdmin role required)"
    },
    {
      "name": "Server",
      "description": "Server version information"
    },
    {
      "name": "Plugins",
      "description": "Plugin querying, downloads, and update checks"
    },
    {
      "name": "Builds",
      "description": "Plugin build management (requires authentication)"
    }
  ],
  "paths": {
    "/admin/me": {
      "get": {
        "tags": [
          "Admin Agent"
        ],
        "summary": "Inspect current admin account",
        "description": "Requires a current ServerAdmin account. See docs/admin-agent-access.md for schemas, cursor semantics and review/audit behavior.",
        "security": [
          {
            "Basic": []
          },
          {
            "AdminToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "Admin role required."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/admin/status": {
      "get": {
        "tags": [
          "Admin Agent"
        ],
        "summary": "Inspect server counts and feature flags",
        "description": "Requires a current ServerAdmin account. See docs/admin-agent-access.md for schemas, cursor semantics and review/audit behavior.",
        "security": [
          {
            "Basic": []
          },
          {
            "AdminToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "Admin role required."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/admin/users": {
      "get": {
        "tags": [
          "Admin Agent"
        ],
        "summary": "List users",
        "description": "Requires a current ServerAdmin account. See docs/admin-agent-access.md for schemas, cursor semantics and review/audit behavior.",
        "security": [
          {
            "Basic": []
          },
          {
            "AdminToken": []
          }
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "Admin role required."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/admin/users/{userId}": {
      "get": {
        "tags": [
          "Admin Agent"
        ],
        "summary": "Inspect a user",
        "description": "Requires a current ServerAdmin account. See docs/admin-agent-access.md for schemas, cursor semantics and review/audit behavior.",
        "security": [
          {
            "Basic": []
          },
          {
            "AdminToken": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "Admin role required."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/admin/plugins": {
      "get": {
        "tags": [
          "Admin Agent"
        ],
        "summary": "List all plugins",
        "description": "Requires a current ServerAdmin account. See docs/admin-agent-access.md for schemas, cursor semantics and review/audit behavior.",
        "security": [
          {
            "Basic": []
          },
          {
            "AdminToken": []
          }
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "Admin role required."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/admin/plugins/{pluginSlug}": {
      "get": {
        "tags": [
          "Admin Agent"
        ],
        "summary": "Inspect a plugin",
        "description": "Requires a current ServerAdmin account. See docs/admin-agent-access.md for schemas, cursor semantics and review/audit behavior.",
        "security": [
          {
            "Basic": []
          },
          {
            "AdminToken": []
          }
        ],
        "parameters": [
          {
            "name": "pluginSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "Admin role required."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/admin/plugins/{pluginSlug}/builds": {
      "get": {
        "tags": [
          "Admin Agent"
        ],
        "summary": "List builds newest first",
        "description": "Requires a current ServerAdmin account. See docs/admin-agent-access.md for schemas, cursor semantics and review/audit behavior.",
        "security": [
          {
            "Basic": []
          },
          {
            "AdminToken": []
          }
        ],
        "parameters": [
          {
            "name": "pluginSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "Admin role required."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/admin/plugins/{pluginSlug}/builds/{buildId}": {
      "get": {
        "tags": [
          "Admin Agent"
        ],
        "summary": "Inspect build metadata and manifest",
        "description": "Requires a current ServerAdmin account. See docs/admin-agent-access.md for schemas, cursor semantics and review/audit behavior.",
        "security": [
          {
            "Basic": []
          },
          {
            "AdminToken": []
          }
        ],
        "parameters": [
          {
            "name": "pluginSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "Admin role required."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/admin/plugins/{pluginSlug}/builds/{buildId}/logs": {
      "get": {
        "tags": [
          "Admin Agent"
        ],
        "summary": "Read build log rows newest first",
        "description": "Requires a current ServerAdmin account. See docs/admin-agent-access.md for schemas, cursor semantics and review/audit behavior.",
        "security": [
          {
            "Basic": []
          },
          {
            "AdminToken": []
          }
        ],
        "parameters": [
          {
            "name": "pluginSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "Admin role required."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/admin/plugins/{pluginSlug}/builds/{buildId}/logs/{logId}": {
      "get": {
        "tags": [
          "Admin Agent"
        ],
        "summary": "Read a log row in bounded chunks",
        "description": "Requires a current ServerAdmin account. See docs/admin-agent-access.md for schemas, cursor semantics and review/audit behavior.",
        "security": [
          {
            "Basic": []
          },
          {
            "AdminToken": []
          }
        ],
        "parameters": [
          {
            "name": "pluginSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buildId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "logId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147467263,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "Admin role required."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/admin/listing-requests": {
      "get": {
        "tags": [
          "Admin Agent"
        ],
        "summary": "List listing requests",
        "description": "Requires a current ServerAdmin account. See docs/admin-agent-access.md for schemas, cursor semantics and review/audit behavior.",
        "security": [
          {
            "Basic": []
          },
          {
            "AdminToken": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "approved",
                "rejected",
                "all"
              ],
              "default": "pending"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "Admin role required."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/admin/listing-requests/{requestId}": {
      "get": {
        "tags": [
          "Admin Agent"
        ],
        "summary": "Inspect listing submission and review",
        "description": "Requires a current ServerAdmin account. See docs/admin-agent-access.md for schemas, cursor semantics and review/audit behavior.",
        "security": [
          {
            "Basic": []
          },
          {
            "AdminToken": []
          }
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "Admin role required."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/admin/listing-requests/{requestId}/review": {
      "post": {
        "tags": [
          "Admin Agent"
        ],
        "summary": "Approve or reject a pending listing",
        "description": "Requires a current ServerAdmin account. See docs/admin-agent-access.md for schemas, cursor semantics and review/audit behavior.",
        "security": [
          {
            "Basic": []
          },
          {
            "AdminToken": []
          }
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Committed review details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid decision or note."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "Admin role required."
          },
          "404": {
            "description": "Request not found."
          },
          "409": {
            "description": "Already processed; fetch current state before retrying."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "decision",
                  "note"
                ],
                "properties": {
                  "decision": {
                    "type": "string",
                    "enum": [
                      "approve",
                      "reject"
                    ]
                  },
                  "note": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10000
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/audit": {
      "get": {
        "tags": [
          "Admin Agent"
        ],
        "summary": "Inspect admin API activity",
        "description": "Requires a current ServerAdmin account. See docs/admin-agent-access.md for schemas, cursor semantics and review/audit behavior.",
        "security": [
          {
            "Basic": []
          },
          {
            "AdminToken": []
          }
        ],
        "parameters": [
          {
            "name": "tokenId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "Admin role required."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      }
    },
    "/admin/access-tokens": {
      "get": {
        "tags": [
          "Admin Agent"
        ],
        "summary": "List your access tokens",
        "description": "Requires a current ServerAdmin account. See docs/admin-agent-access.md for schemas, cursor semantics and review/audit behavior.",
        "security": [
          {
            "Basic": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Authentication failed."
          },
          "403": {
            "description": "Admin role required."
          },
          "404": {
            "description": "Resource not found."
          }
        }
      },
      "post": {
        "tags": [
          "Admin Agent"
        ],
        "summary": "Issue a revocable admin token",
        "description": "Requires a current ServerAdmin account. Issue only to trusted server-admin agents: tokens grant full admin API inspection and listing-review access without granular scopes. Tokens cannot issue or revoke other tokens. See docs/admin-agent-access.md for details.",
        "security": [
          {
            "Basic": []
          }
        ],
        "responses": {
          "201": {
            "description": "Token shown once. Store securely.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "token": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid name/lifetime."
          },
          "401": {
            "description": "Basic authentication required."
          },
          "403": {
            "description": "Admin role required."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "expiresInDays": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 365,
                    "default": 90
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/access-tokens/{id}": {
      "delete": {
        "tags": [
          "Admin Agent"
        ],
        "summary": "Revoke your access token",
        "description": "Requires a current ServerAdmin account. See docs/admin-agent-access.md for schemas, cursor semantics and review/audit behavior.",
        "security": [
          {
            "Basic": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked."
          },
          "401": {
            "description": "Basic authentication required."
          },
          "403": {
            "description": "Admin role required."
          },
          "404": {
            "description": "Token not found or not owned by caller."
          }
        }
      }
    },
    "/admin/events": {
      "get": {
        "tags": [
          "Admin Events"
        ],
        "summary": "Poll admin events",
        "description": "Durable events ordered by commit-safe cursor. Save nextCursor only after processing the page. See docs/admin-events.md.",
        "security": [
          {
            "Basic": []
          },
          { "AdminToken": [] }
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event page.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "schemaVersion": {
                            "type": "integer"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "data": {
                            "type": "object",
                            "additionalProperties": true
                          }
                        }
                      }
                    },
                    "nextCursor": {
                      "type": "string"
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid cursor, limit or type."
          },
          "401": {
            "description": "Authentication required."
          },
          "403": {
            "description": "ServerAdmin role required."
          }
        }
      }
    },
    "/admin/events/types": {
      "get": {
        "tags": [
          "Admin Events"
        ],
        "summary": "List admin event types",
        "description": "Requires a ServerAdmin account.",
        "security": [
          {
            "Basic": []
          },
          { "AdminToken": [] }
        ],
        "responses": {
          "200": {
            "description": "Supported types.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required."
          },
          "403": {
            "description": "ServerAdmin role required."
          }
        }
      }
    },
    "/admin/events/subscriptions": {
      "get": {
        "tags": [
          "Admin Events"
        ],
        "summary": "List event subscriptions",
        "description": "Shared server-wide subscriptions. Signing secrets are never returned.",
        "security": [
          {
            "Basic": []
          },
          { "AdminToken": [] }
        ],
        "responses": {
          "200": {
            "description": "Subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "kind": {
                        "type": "string"
                      },
                      "destination": {
                        "type": "string"
                      },
                      "eventTypes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "enabled": {
                        "type": "boolean"
                      },
                      "createdBy": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required."
          },
          "403": {
            "description": "ServerAdmin role required."
          }
        }
      },
      "post": {
        "tags": [
          "Admin Events"
        ],
        "summary": "Create event subscription",
        "description": "Subscribes to future events. Empty eventTypes selects all types. Webhook secret is returned once; store it securely.",
        "security": [
          {
            "Basic": []
          },
          { "AdminToken": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "kind",
                  "destination",
                  "eventTypes"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "webhook",
                      "email"
                    ]
                  },
                  "destination": {
                    "type": "string",
                    "maxLength": 2048
                  },
                  "eventTypes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "secret": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid subscription."
          },
          "401": {
            "description": "Authentication required."
          },
          "403": {
            "description": "ServerAdmin role required."
          }
        }
      }
    },
    "/admin/events/subscriptions/{id}/enabled": {
      "put": {
        "tags": [
          "Admin Events"
        ],
        "summary": "Pause or resume a subscription",
        "description": "Paused subscriptions receive no new delivery jobs. Existing jobs resume when enabled.",
        "security": [
          {
            "Basic": []
          },
          { "AdminToken": [] }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "enabled"
                ],
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Updated."
          },
          "401": {
            "description": "Authentication required."
          },
          "403": {
            "description": "ServerAdmin role required."
          },
          "404": {
            "description": "Subscription not found."
          }
        }
      }
    },
    "/admin/events/subscriptions/{id}": {
      "delete": {
        "tags": [
          "Admin Events"
        ],
        "summary": "Delete a subscription",
        "description": "Deletes its delivery records; preserves event history.",
        "security": [
          {
            "Basic": []
          },
          { "AdminToken": [] }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "description": "Authentication required."
          },
          "403": {
            "description": "ServerAdmin role required."
          },
          "404": {
            "description": "Subscription not found."
          }
        }
      }
    },
    "/admin/events/subscriptions/{id}/deliveries": {
      "get": {
        "tags": [
          "Admin Events"
        ],
        "summary": "Inspect event deliveries",
        "description": "Ascending event IDs. Use the last returned eventId as after for the next page.",
        "security": [
          {
            "Basic": []
          },
          { "AdminToken": [] }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deliveries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "eventId": {
                        "type": "string"
                      },
                      "attempts": {
                        "type": "integer"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "pending",
                          "delivered",
                          "failed"
                        ]
                      },
                      "nextAttemptAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "lastError": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required."
          },
          "403": {
            "description": "ServerAdmin role required."
          }
        }
      }
    },
    "/admin/events/subscriptions/{id}/deliveries/{eventId}/retry": {
      "post": {
        "tags": [
          "Admin Events"
        ],
        "summary": "Retry a failed delivery",
        "description": "Resets the retry budget for an exhausted delivery.",
        "security": [
          {
            "Basic": []
          },
          { "AdminToken": [] }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Queued for retry."
          },
          "401": {
            "description": "Authentication required."
          },
          "403": {
            "description": "ServerAdmin role required."
          },
          "404": {
            "description": "No failed delivery found."
          }
        }
      }
    },
    "/version": {
      "get": {
        "tags": ["Server"],
        "summary": "Get server version",
        "description": "Returns the server's assembly version and git commit SHA.",
        "operationId": "getVersion",
        "responses": {
          "200": {
            "description": "Server version information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string",
                      "description": "Assembly informational version",
                      "example": "1.0.0"
                    },
                    "commit": {
                      "type": "string",
                      "nullable": true,
                      "description": "Git commit SHA",
                      "example": "abc1234def5678"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/plugins": {
      "get": {
        "tags": ["Plugins"],
        "summary": "List published plugins",
        "description": "Returns published plugin versions, optionally filtered by BTCPay Server version compatibility and plugin name. By default, only the latest version of each listed plugin is returned.",
        "operationId": "getPlugins",
        "parameters": [
          {
            "name": "btcpayVersion",
            "in": "query",
            "description": "Filter by BTCPay Server version compatibility (e.g. `1.12.0`). When set to a version >= 2.1, only `listed` plugins are returned unless `searchPluginName` is also specified.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1.12.0"
            }
          },
          {
            "name": "includePreRelease",
            "in": "query",
            "description": "Include pre-release versions.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeAllVersions",
            "in": "query",
            "description": "When `true`, returns all versions for each plugin instead of only the latest.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "searchPluginName",
            "in": "query",
            "description": "Search by plugin slug or name (case-insensitive partial match).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of published plugin versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublishedVersion"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/plugins/directory/{pluginSlug}": {
      "get": {
        "tags": ["Plugins"],
        "summary": "Get a Directory plugin by slug",
        "description": "Returns the latest published version compatible with the requested BTCPay Server version for an exact Plugin Directory slug. Listed and unlisted plugins are available; hidden plugins are not returned.",
        "operationId": "getDirectoryPluginBySlug",
        "parameters": [
          {
            "name": "pluginSlug",
            "in": "path",
            "description": "The exact plugin slug (e.g. `lnbank`).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "lnbank"
            }
          },
          {
            "name": "btcpayVersion",
            "in": "query",
            "description": "Filter by BTCPay Server version compatibility.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2.2.1"
            }
          },
          {
            "name": "includePreRelease",
            "in": "query",
            "description": "Include pre-release versions.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest compatible published version for the plugin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishedVersion"
                }
              }
            }
          },
          "400": {
            "description": "Invalid plugin slug or query parameter"
          },
          "404": {
            "description": "Plugin not found or no compatible published version is available"
          },
          "429": {
            "description": "Too many requests"
          }
        }
      }
    },
    "/plugins/{identifier}": {
      "get": {
        "tags": ["Plugins"],
        "summary": "Get versions for a specific plugin",
        "description": "Returns all published versions for a specific plugin, identified by its plugin identifier (e.g. `BTCPayServer.Plugins.LNbank`).",
        "operationId": "getPluginVersions",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "The plugin identifier (e.g. `BTCPayServer.Plugins.LNbank`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "btcpayVersion",
            "in": "query",
            "description": "Filter by BTCPay Server version compatibility.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "1.12.0"
            }
          },
          {
            "name": "includePreRelease",
            "in": "query",
            "description": "Include pre-release versions.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeAllVersions",
            "in": "query",
            "description": "When `true`, returns all versions instead of only the latest.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of published versions for the plugin",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublishedVersion"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/plugins/{pluginSlug}/versions/{version}": {
      "get": {
        "tags": ["Plugins"],
        "summary": "Get a specific plugin version",
        "description": "Returns details for a specific version of a plugin. The `pluginSlug` can be a slug (e.g. `rockstar-stylist`) or a bracketed identifier (e.g. `[BTCPayServer.Plugins.RockstarStylist]`).",
        "operationId": "getPluginVersion",
        "parameters": [
          {
            "name": "pluginSlug",
            "in": "path",
            "description": "Plugin slug (e.g. `rockstar-stylist`) or bracketed identifier (e.g. `[BTCPayServer.Plugins.RockstarStylist]`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Plugin version (e.g. `1.0.0.0`).",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1.0.0.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plugin version details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishedVersion"
                }
              }
            }
          },
          "404": {
            "description": "Plugin version not found"
          }
        }
      }
    },
    "/plugins/{pluginSlug}/versions/{version}/download": {
      "get": {
        "tags": ["Plugins"],
        "summary": "Download a plugin version",
        "description": "Redirects to the download URL for the plugin binary. The `pluginSlug` can be a slug or a bracketed identifier.",
        "operationId": "downloadPluginVersion",
        "parameters": [
          {
            "name": "pluginSlug",
            "in": "path",
            "description": "Plugin slug or bracketed identifier.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Plugin version.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the plugin binary download URL.",
            "headers": {
              "Location": {
                "description": "URL of the plugin binary",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "404": {
            "description": "Plugin version not found"
          }
        }
      }
    },
    "/plugins/updates": {
      "post": {
        "tags": ["Plugins"],
        "summary": "Check for plugin updates",
        "description": "Given a list of installed plugins with their current versions, returns the latest available versions. Useful for BTCPay Server instances to check if updates are available.",
        "operationId": "checkPluginUpdates",
        "parameters": [
          {
            "name": "btcpayVersion",
            "in": "query",
            "description": "The BTCPay Server version to check compatibility against.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includePreRelease",
            "in": "query",
            "description": "Include pre-release versions in update results.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InstalledPluginRequest"
                }
              },
              "example": [
                {
                  "identifier": "BTCPayServer.Plugins.LNbank",
                  "version": "1.5.0"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Latest available versions for the given plugins",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublishedVersion"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error (e.g. empty plugin list)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/plugins/{pluginSlug}/builds": {
      "post": {
        "tags": ["Builds"],
        "summary": "Create a new build",
        "description": "Triggers a new plugin build. If `gitRepository`, `gitRef`, `pluginDirectory`, or `buildConfig` are not provided, defaults from the plugin's settings are used.",
        "operationId": "createBuild",
        "security": [
          {
            "Basic": []
          }
        ],
        "parameters": [
          {
            "name": "pluginSlug",
            "in": "path",
            "description": "Plugin slug. You must be an owner of this plugin.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBuildRequest"
              },
              "example": {
                "gitRepository": "https://github.com/user/btcpayserver-plugin-example",
                "gitRef": "v1.0.0",
                "pluginDirectory": "BTCPayServer.Plugins.Example",
                "buildConfig": "Release"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Build created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBuildResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Not an owner of this plugin"
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/plugins/{pluginSlug}/builds/{buildId}": {
      "get": {
        "tags": ["Builds"],
        "summary": "Get build details",
        "description": "Returns details for a specific plugin build.",
        "operationId": "getBuild",
        "security": [
          {
            "Basic": []
          }
        ],
        "parameters": [
          {
            "name": "pluginSlug",
            "in": "path",
            "description": "Plugin slug. You must be an owner of this plugin.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buildId",
            "in": "path",
            "description": "Build ID.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Build details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildData"
                },
                "example": {
                  "projectSlug": "lnbank",
                  "buildId": 8,
                  "buildInfo": {
                    "gitRepository": "https://github.com/dennisreimann/btcpayserver-plugin-lnbank",
                    "gitRef": "v1.5.1",
                    "pluginDir": "BTCPayServer.Plugins.LNbank",
                    "gitCommit": "4f0548cbc22d5a91493ef9a42db41a066251622a",
                    "gitCommitDate": "2023-05-18T21:46:37+02:00",
                    "buildDate": "2023-05-23T18:02:06+02:00",
                    "buildHash": "c63a96792aafc80bedb067cd554667cfbd235cadb43aeceda39166c8018b6001",
                    "url": "https://plugin-builder.btcpayserver.org/satoshi/artifacts/lnbank/8/BTCPayServer.Plugins.LNbank.btcpay",
                    "error": null,
                    "buildConfig": "Release",
                    "assemblyName": "BTCPayServer.Plugins.LNbank",
                    "additionalObjects": null
                  },
                  "manifestInfo": {
                    "identifier": "BTCPayServer.Plugins.LNbank",
                    "name": "LNbank",
                    "version": "1.5.1",
                    "description": "Use the BTCPay Server Lightning node in custodial mode.",
                    "systemPlugin": false,
                    "dependencies": [
                      {
                        "identifier": "BTCPayServer",
                        "condition": ">=1.9.0"
                      }
                    ]
                  },
                  "createdDate": "2023-05-23T16:01:26.949327+00:00",
                  "downloadLink": "https://plugin-builder.btcpayserver.org/satoshi/artifacts/lnbank/8/BTCPayServer.Plugins.LNbank.btcpay",
                  "published": true,
                  "prerelease": false,
                  "commit": "4f0548cb",
                  "repository": "https://github.com/dennisreimann/btcpayserver-plugin-lnbank",
                  "gitRef": "v1.5.1"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Not an owner of this plugin"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AdminToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Revocable admin access token issued in Account Settings. Admin API only; token management requires Basic auth."
      },
      "Basic": {
        "type": "http",
        "scheme": "basic",
        "description": "HTTP Basic Authentication using your Plugin Builder login email and password. Format: `Authorization: Basic {base64(email:password)}`. Requires HTTPS in production."
      }
    },
    "schemas": {
      "PublishedVersion": {
        "type": "object",
        "description": "A published plugin version.",
        "properties": {
          "projectSlug": {
            "type": "string",
            "description": "Plugin slug.",
            "example": "lnbank"
          },
          "version": {
            "type": "string",
            "description": "Plugin version.",
            "example": "1.5.1"
          },
          "btcpayMinVersion": {
            "type": "string",
            "description": "Effective minimum compatible BTCPay Server version.",
            "example": "1.9.0"
          },
            "btcpayMaxVersion": {
                "type": "string",
                "nullable": true,
                "description": "Effective maximum compatible BTCPay Server version.",
                "example": "2.0.0"
            },
            "changelog": {
                "type": "string",
                "nullable": true,
                "description": "Release notes for this version.",
                "example": "Added support for ..."
            },
          "buildId": {
            "type": "integer",
            "format": "int64",
            "description": "Build ID.",
            "example": 8
          },
          "buildInfo": {
            "$ref": "#/components/schemas/BuildInfo"
          },
          "manifestInfo": {
            "$ref": "#/components/schemas/PluginManifest"
          },
          "pluginLogo": {
            "type": "string",
            "nullable": true,
            "description": "URL of the plugin logo image."
          },
          "documentation": {
            "type": "string",
            "nullable": true,
            "description": "URL to the plugin's public page on the Plugin Builder."
          },
          "pluginTitle": {
            "type": "string",
            "nullable": true,
            "description": "Display title of the plugin.",
            "example": "LNbank"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Short description of the plugin."
          },
          "fingerprint": {
            "type": "string",
            "nullable": true,
            "description": "GPG fingerprint of the release signature, if signed."
          }
        }
      },
      "BuildData": {
        "type": "object",
        "description": "Details of a plugin build.",
        "properties": {
          "projectSlug": {
            "type": "string",
            "description": "Plugin slug.",
            "example": "lnbank"
          },
          "buildId": {
            "type": "integer",
            "format": "int64",
            "description": "Build ID.",
            "example": 8
          },
          "buildInfo": {
            "allOf": [
              { "$ref": "#/components/schemas/BuildInfo" }
            ],
            "nullable": true
          },
          "manifestInfo": {
            "allOf": [
              { "$ref": "#/components/schemas/PluginManifest" }
            ],
            "nullable": true
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "description": "When the build was created.",
            "example": "2023-05-23T16:01:26.949327+00:00"
          },
          "downloadLink": {
            "type": "string",
            "nullable": true,
            "description": "Direct download URL for the build artifact."
          },
          "published": {
            "type": "boolean",
            "description": "Whether this build has been published as a release."
          },
          "prerelease": {
            "type": "boolean",
            "description": "Whether this is a pre-release version."
          },
          "commit": {
            "type": "string",
            "nullable": true,
            "description": "Short git commit SHA (first 8 characters).",
            "example": "4f0548cb"
          },
          "repository": {
            "type": "string",
            "nullable": true,
            "description": "Git repository URL."
          },
          "gitRef": {
            "type": "string",
            "nullable": true,
            "description": "Git branch or tag used for the build.",
            "example": "v1.5.1"
          }
        }
      },
      "BuildInfo": {
        "type": "object",
        "description": "Build artifact information.",
        "properties": {
          "gitRepository": {
            "type": "string",
            "nullable": true,
            "description": "Source git repository URL."
          },
          "gitRef": {
            "type": "string",
            "nullable": true,
            "description": "Git branch or tag."
          },
          "pluginDir": {
            "type": "string",
            "nullable": true,
            "description": "Plugin project directory within the repository."
          },
          "gitCommit": {
            "type": "string",
            "nullable": true,
            "description": "Full git commit SHA."
          },
          "gitCommitDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date of the git commit."
          },
          "buildDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Date the build was executed."
          },
          "buildHash": {
            "type": "string",
            "nullable": true,
            "description": "SHA-256 hash of the build artifact."
          },
          "url": {
            "type": "string",
            "nullable": true,
            "description": "Download URL for the build artifact."
          },
          "error": {
            "type": "string",
            "nullable": true,
            "description": "Build error message, if the build failed."
          },
          "buildConfig": {
            "type": "string",
            "nullable": true,
            "description": "Dotnet build configuration (e.g. `Release`)."
          },
          "assemblyName": {
            "type": "string",
            "nullable": true,
            "description": "Name of the built assembly."
          },
          "additionalObjects": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Additional build metadata."
          }
        }
      },
      "PluginManifest": {
        "type": "object",
        "description": "Plugin manifest from the built assembly.",
        "properties": {
          "identifier": {
            "type": "string",
            "description": "Unique plugin identifier.",
            "example": "BTCPayServer.Plugins.LNbank"
          },
          "name": {
            "type": "string",
            "description": "Display name of the plugin.",
            "example": "LNbank"
          },
          "version": {
            "type": "string",
            "description": "Plugin version.",
            "example": "1.5.1"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Plugin description."
          },
          "systemPlugin": {
            "type": "boolean",
            "description": "Whether this is a system plugin."
          },
          "dependencies": {
            "type": "array",
            "description": "Plugin dependencies.",
            "items": {
              "$ref": "#/components/schemas/PluginDependency"
            }
          }
        }
      },
      "PluginDependency": {
        "type": "object",
        "description": "A plugin dependency requirement.",
        "properties": {
          "identifier": {
            "type": "string",
            "description": "Dependency identifier.",
            "example": "BTCPayServer"
          },
          "condition": {
            "type": "string",
            "description": "Version condition (e.g. `>=1.9.0` or `>=1.9.0 && <=2.0.0`).",
            "example": ">=1.9.0 && <=2.0.0"
          }
        }
      },
      "CreateBuildRequest": {
        "type": "object",
        "description": "Request to create a new plugin build. If fields are omitted, defaults from the plugin's settings are used.",
        "properties": {
          "gitRepository": {
            "type": "string",
            "description": "Git repository URL. Required if not set in plugin settings.",
            "example": "https://github.com/user/btcpayserver-plugin-example"
          },
          "gitRef": {
            "type": "string",
            "nullable": true,
            "description": "Git branch or tag (defaults to plugin settings or `master`).",
            "example": "v1.0.0"
          },
          "pluginDirectory": {
            "type": "string",
            "nullable": true,
            "description": "Directory of the plugin project within the repository.",
            "example": "BTCPayServer.Plugins.Example"
          },
          "buildConfig": {
            "type": "string",
            "nullable": true,
            "description": "Dotnet build configuration (defaults to `Release`).",
            "example": "Release"
          }
        }
      },
      "CreateBuildResponse": {
        "type": "object",
        "description": "Response after successfully creating a build.",
        "properties": {
          "pluginSlug": {
            "type": "string",
            "description": "Plugin slug.",
            "example": "my-plugin"
          },
          "buildId": {
            "type": "integer",
            "format": "int64",
            "description": "ID of the newly created build.",
            "example": 12
          },
          "buildUrl": {
            "type": "string",
            "description": "URL to view the build in the Plugin Builder web UI.",
            "example": "https://plugin-builder.btcpayserver.org/plugins/my-plugin/builds/12"
          }
        }
      },
      "InstalledPluginRequest": {
        "type": "object",
        "description": "Represents an installed plugin with its current version.",
        "required": ["identifier", "version"],
        "properties": {
          "identifier": {
            "type": "string",
            "description": "Plugin identifier.",
            "example": "BTCPayServer.Plugins.LNbank"
          },
          "version": {
            "type": "string",
            "description": "Currently installed version.",
            "example": "1.5.0"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "description": "A single validation error.",
        "properties": {
          "path": {
            "type": "string",
            "description": "The field that caused the error."
          },
          "message": {
            "type": "string",
            "description": "Error message."
          }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "description": "Validation error response.",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      }
    }
  }
}
