@model EmailSettingsViewModel
@{
    Layout = "_Layout";
    ViewData.SetActivePage(AdminNavPages.EmailSettings, "Email Settings");
}

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Server" class="form-label"></label>
        <input asp-for="Server" class="form-control"/>
        <span asp-validation-for="Server" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Port" class="form-label"></label>
        <input asp-for="Port" class="form-control"/>
        <span asp-validation-for="Port" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Username" class="form-label"></label>
        <input asp-for="Username" class="form-control"/>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" type="password" value="@Model.Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="From" class="form-label"></label>
        <input asp-for="From" class="form-control"/>
        <span asp-validation-for="From" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input asp-for="DisableCertificateCheck" class="form-check-input" type="checkbox"/>
            <label asp-for="DisableCertificateCheck" class="form-check-label"></label>
        </div>
        <span asp-validation-for="DisableCertificateCheck" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" id="Save" value="Save"/>
        @* if the password is not null, credentials have been set up in database *@
        @if (Model.Password != null)
        {
            <a asp-action="EmailTest" class="btn btn-link">Test Email</a>
        }
    </div>
</form>
