@model PluginViewModel
@{
    Layout = "_Layout";
    ViewData.SetActivePage(AdminNavPages.Plugins, "Are you sure you want to delete this Plugin?");
}

<div class="d-sm-flex align-items-center justify-content-between">
    <h2 class="mb-4">
        @ViewData["Title"]
    </h2>
</div>

<form asp-action="Delete">
    <div class="form-group">
        <label asp-for="Slug" class="control-label"></label>
        <input asp-for="Slug" class="form-control" readonly="readonly" />
        <span asp-validation-for="Slug" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Identifier" class="control-label"></label>
        <input asp-for="Identifier" class="form-control" readonly="readonly" />
        <span asp-validation-for="Identifier" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" id="Delete" value="Delete" />
        <a asp-action="ListPlugins" class="btn btn-link">Cancel</a>
    </div>
</form>
