@if (TempData[TempDataConstant.SuccessMessage] is string successMessage)
{
    <div class="alert alert-success text-break" role="alert">
        <span style="white-space: pre-wrap;">@Html.Raw(successMessage)</span>
    </div>
}
@if (TempData[TempDataConstant.WarningMessage] != null)
{
    <div class="alert alert-warning text-break" role="alert">
        <span style="white-space: pre-wrap;">@TempData[TempDataConstant.WarningMessage]</span>
    </div>
}
