@model AccountDetailsViewModel
@{
    Layout = "_Layout";
    ViewData.SetActivePage("Account Settings");
}

<h2 class="mt-1 mb-4">@ViewData["Title"]</h2>
<div class="row">
    <div class="col-xl-8 col-xxl-constrain">
        <form asp-action="AccountDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountEmail" class="form-label"></label>
                @if (Model.AccountEmailConfirmed)
                {
                    <span class="badge bg-success ml-2">Confirmed</span>
                }
                <div class="input-group">
                    <input asp-for="AccountEmail" class="form-control" placeholder="" readonly="readonly" />
                    @if (Model.NeedToVerifyEmail)
                    {
                        <div class="input-group-append">
                            <a asp-controller="Account" asp-action="VerifyEmail" class="btn btn-secondary">Verify Email</a>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Settings.Github" class="form-label"></label>
                @if (Model.GithubAccountVerified)
                {
                    <span class="badge bg-success ml-2">Confirmed</span>
                }
                <div class="input-group">
                    <input asp-for="Settings.Github" class="form-control" placeholder="https://github.com/satoshi" readonly="readonly" />
                    @if (!Model.GithubAccountVerified)
                    {
                        <div class="input-group-append">
                            <a asp-controller="Account" asp-action="VerifyGithubAccount" class="btn btn-secondary">Verify GitHub</a>
                        </div>
                    }
                </div>
            </div>
			<div class="form-group">
				<label asp-for="Settings.UserName" class="form-label"></label>
				<input asp-for="Settings.UserName" class="form-control" placeholder="Satoshi" />
				<span asp-validation-for="Settings.UserName" class="text-danger"></span>
			</div>
            <div class="form-group">
                <label asp-for="Settings.Twitter" class="form-label"></label>
                <input asp-for="Settings.Twitter" class="form-control" placeholder="https://twitter.com/satoshi" />
                <span asp-validation-for="Settings.Twitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Settings.Nostr" class="form-label"></label>
                <input asp-for="Settings.Nostr" class="form-control" placeholder="npub1h0dl0dkjp884wz3*********hlvp68v0lfngnscdjsuy8yqm" />
                <span asp-validation-for="Settings.Nostr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Settings.Email" class="form-label"></label>
                <input asp-for="Settings.Email" class="form-control" type="email" placeholder="plugins@satoshi.com" />
                <span asp-validation-for="Settings.Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" class="btn btn-primary" id="Save" value="Save" />
            </div>
        </form>
    </div>
</div>
