@using System.Net
@using System.Text.RegularExpressions
@{
    var src = (string)Model;
    if (string.IsNullOrWhiteSpace(src))
    {
        return;
    }

    var h = WebUtility.HtmlEncode(src);

    var codePlaceholders = new List<string>();
    var codeIndex = 0;
    h = Regex.Replace(h, @"`([^`]+)`", match =>
    {
        var placeholder = $"__CODEPLACEHOLDER{codeIndex++}__";
        codePlaceholders.Add($"<code>{match.Groups[1].Value}</code>");
        return placeholder;
    });

    h = Regex.Replace(h, @"\*\*([^*]+)\*\*", "<strong>$1</strong>");
    h = Regex.Replace(h, @"\*([^*]+)\*", "<em>$1</em>");
    h = Regex.Replace(h, @"\[([^\]]+)\]\((https?:\/\/[^)]+)\)", "<a href=\"$2\" target=\"_blank\" rel=\"noopener\">$1</a>");
    h = Regex.Replace(h, @"(?<!"")(?<!>)(https?:\/\/[^\s<""]+?)(?=[.,;:!?\)]*(?:\s|$|<|""))", "<a href=\"$1\" target=\"_blank\" rel=\"noopener\">$1</a>");
    h = h.Replace("\r\n", "<br />").Replace("\n", "<br />");

    for (var i = 0; i < codePlaceholders.Count; i++)
    {
        h = h.Replace($"__CODEPLACEHOLDER{i}__", codePlaceholders[i]);
    }
}
@Html.Raw(h)
