<div class="px-4">
	<div class="d-flex align-items-center justify-content-between py-3">
		<div class="d-flex align-items-center">
			<a asp-controller="Home" asp-action="AllPlugins" class="text-decoration-none d-flex align-items-center me-4">
				<img src="~/img/btcpay-logo.svg" alt="BTCPay Server" height="32" class="me-2">
				<span class="fw-bold fs-5">BTCPay Plugin Builder</span>
			</a>
		</div>
		<div class="d-flex align-items-center gap-3">
			<a asp-action="Login" asp-controller="Home" class="btn btn-success" id="login-btn">Login</a>
		</div>
	</div>
</div>
