@model PluginBuilder.ViewModels.CreateBuildViewModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "Create a new build";
}

<h2 class="mt-1 mb-4">@ViewData["Title"]</h2>
<div class="row">
    <div class="col-xl-8 col-xxl-constrain">
        <form asp-action="CreateBuild">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GitRepository" class="form-label" data-required></label>
                <input asp-for="GitRepository" class="form-control" placeholder="https://github.com/Kukks/btcpayserver" required />
                <span asp-validation-for="GitRepository" class="text-danger"></span>
            </div>
			<div class="form-group">
                <label asp-for="GitRef" class="form-label"></label>
                <input asp-for="GitRef" class="form-control" placeholder="plugins/collection" />
                <span asp-validation-for="GitRef" class="text-danger"></span>
            </div>
			<div class="form-group">
                <label asp-for="PluginDirectory" class="form-label"></label>
                <input asp-for="PluginDirectory" class="form-control" placeholder="Plugins/BTCPayServer.Plugins.RockstarStylist" />
                <span asp-validation-for="PluginDirectory" class="text-danger"></span>
            </div>
			<div class="form-group">
                <label asp-for="BuildConfig" class="form-label"></label>
                <input asp-for="BuildConfig" class="form-control" placeholder="Release" />
                <span asp-validation-for="BuildConfig" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Create" class="btn btn-primary" id="Create" />
            </div>
        </form>
    </div>
</div>
