@using PluginBuilder.DataModels
@model PluginBuilder.ViewModels.Plugin.PluginOwnersPageViewModel

@{
    Layout = "_Layout";
    ViewData.SetActivePage(PluginNavPages.Owners, "Plugin Owners");

    var ownersTableVm = new PluginOwnersTableViewModel(Model.PluginSlug)
    {
        Controller = "Plugin",
        Owners = Model.Owners,
        CurrentUserId = Model.CurrentUserId,
        CanAddOwner = Model.IsPrimaryOwner,
        CanManageOwners = Model.IsPrimaryOwner,
        CanLeave = !Model.IsPrimaryOwner
    };
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h2 class="mb-0">
        @ViewData["Title"]
    </h2>
</div>

<partial name="_PluginOwnersTable" model="ownersTableVm" />
<partial name="_Confirm" model="@(new ConfirmModel("Confirm action", "Are you sure?", "Confirm"))" />
