@model PluginSettingViewModel
@{
    Layout = "_Layout";
    ViewData.SetActivePage(PluginNavPages.Settings, "Plugin settings");
}

<h2 class="mt-1 mb-4">
	@ViewData["Title"]
	@if (Model.IsPluginOwner)
	{
		<span class="badge bg-success fs-6 px-2 py-1 align-middle" style="font-size: 0.75rem;">Owner</span>
	}
</h2>
<div class="row">
    <div class="col-xl-8 col-xxl-constrain">
		<form asp-action="Settings" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group d-flex align-items-center">
				<input asp-for="RequireGPGSignatureForRelease" type="checkbox" class="btcpay-toggle me-3" disabled="@(!Model.IsPluginOwner)" />
				<label asp-for="RequireGPGSignatureForRelease" class="form-check-label"></label>
			</div>
            <div class="form-group">
                <label asp-for="Documentation" class="form-label"></label>
                <input asp-for="Documentation" class="form-control" placeholder="https://docs.btcpayserver.org/PodServer/" />
                <span asp-validation-for="Documentation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GitRepository" class="form-label"></label>
                <input asp-for="GitRepository" class="form-control" placeholder="https://github.com/Kukks/btcpayserver" required />
                <span asp-validation-for="GitRepository" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GitRef" class="form-label"></label>
                <input asp-for="GitRef" class="form-control" placeholder="plugins/collection" />
                <span asp-validation-for="GitRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PluginDirectory" class="form-label"></label>
                <input asp-for="PluginDirectory" class="form-control" placeholder="Plugins/BTCPayServer.Plugins.RockstarStylist" />
                <span asp-validation-for="PluginDirectory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildConfig" class="form-label"></label>
                <input asp-for="BuildConfig" class="form-control" placeholder="Release" />
                <span asp-validation-for="BuildConfig" class="text-danger"></span>
            </div>
			<div class="form-group">
				<div class="d-flex align-items-center justify-content-between gap-2">
					<label asp-for="LogoUrl" class="form-label"></label>
					@if (!string.IsNullOrEmpty(Model.LogoUrl))
					{
						<button type="submit" class="btn btn-link p-0 text-danger" name="RemoveLogoFile" value="true">
							<vc:icon symbol="cross" /> Remove
						</button>
					}
				</div>
				<div class="d-flex align-items-center gap-3">
					<input asp-for="Logo" type="file" class="form-control flex-grow" accept="image/*">
					@if (!string.IsNullOrEmpty(Model.LogoUrl))
					{
						<img src="@Model.LogoUrl" alt="Logo" style="height:2.1rem;max-width:10.5rem;" />
					}
				</div>
				<span asp-validation-for="LogoUrl" class="text-danger"></span>
			</div>
            <div class="form-group mt-4">
                <input type="submit" value="Update" class="btn btn-primary" id="Update" />
            </div>
        </form>
    </div>
</div>
