@using PluginBuilder.Views.Enums
@model PluginBuilder.PluginSettings
@{
	Layout = "_Layout";
	ViewData.SetActivePage(PluginNavPages.Settings, "Plugin settings");
}

<h2 class="mt-1 mb-4">@ViewData["Title"]</h2>
<div class="row">
    <div class="col-xl-8 col-xxl-constrain">
        <form asp-action="Settings">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Documentation" class="form-label"></label>
                <input asp-for="Documentation" class="form-control" placeholder="https://docs.btcpayserver.org/PodServer/" />
                <span asp-validation-for="Documentation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GitRepository" class="form-label"></label>
                <input asp-for="GitRepository" class="form-control" placeholder="https://github.com/Kukks/btcpayserver" required />
                <span asp-validation-for="GitRepository" class="text-danger"></span>
            </div>
			<div class="form-group">
                <label asp-for="GitRef" class="form-label"></label>
                <input asp-for="GitRef" class="form-control" placeholder="plugins/collection" />
                <span asp-validation-for="GitRef" class="text-danger"></span>
            </div>
			<div class="form-group">
                <label asp-for="PluginDirectory" class="form-label"></label>
                <input asp-for="PluginDirectory" class="form-control" placeholder="Plugins/BTCPayServer.Plugins.RockstarStylist" />
                <span asp-validation-for="PluginDirectory" class="text-danger"></span>
            </div>
			<div class="form-group">
                <label asp-for="BuildConfig" class="form-label"></label>
                <input asp-for="BuildConfig" class="form-control" placeholder="Release" />
                <span asp-validation-for="BuildConfig" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label class="form-label">Select Tags</label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Tags
                    </button>
                    <ul class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                        @foreach (var tag in Enum.GetValues(typeof(PluginTags)).Cast<PluginTags>())
                        {
                            <li class="form-check">
                                <input type="checkbox" class="form-check-input category-checkbox" value="@((int)tag)" id="tag@(tag)"
                                       name="Tags" @(Model.PluginTags != null && Model.PluginTags.Any(t => t.Name == tag.ToString()) ? "checked" : "")>
                                <label class="form-check-label" for="tag@(tag)">@tag</label>
                            </li>
                        }
                    </ul>
                </div>
                <span asp-validation-for="PluginTags" class="text-danger"></span>
                <input type="hidden" name="SelectedCategories" id="SelectedCategories">
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Update" class="btn btn-primary" id="Update" />
            </div>
        </form>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var checkboxes = document.querySelectorAll('.category-checkbox');
        var selectedCategoriesInput = document.getElementById('SelectedCategories');
        var dropdownButton = document.getElementById('dropdownMenuButton');
        function updateButtonLabel() {
            var selectedCategories = [];
            checkboxes.forEach(function (cb) {
                if (cb.checked) {
                    selectedCategories.push(cb.value);
                }
            });
            selectedCategoriesInput.value = selectedCategories.join(',');

            if (selectedCategories.length > 0) {
                dropdownButton.textContent = selectedCategories.length + ' tag' + (selectedCategories.length > 1 ? 's' : '') + ' selected';
            } else {
                dropdownButton.textContent = 'Select tags';
            }
        }
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', updateButtonLabel);
        });
        updateButtonLabel();
    });
</script>
